.visual-nameCard8F5BA631B90B48ED812066A0ED6A04E7_DEBUG p {
  font-size: 20px;
  font-weight: bold;
}
.visual-nameCard8F5BA631B90B48ED812066A0ED6A04E7_DEBUG p em {
  background: yellow;
  padding: 5px;
}
